<%= form_for @project do |f| %>
  <% if @project.errors.any? %>
    <h3 class="field_with_errors">
      <%= pluralize(@project.errors.count, "error") %>
      prohibited this project from being saved:
    </h3 class="field_with_errors">
    <ul class="field_with_errors">
      <% @project.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  <% end %>
  <div class"form-group">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>
  <div class"form-group">
    <%= f.label :description %>
    <%= f.text_area :description %>
  </div>
  <div class"form-group">
    <%= f.label :is_collaborator, 'Search Users' %>
    <input type="text" id="username_email" data-emails="<%= User.order(:email).map(&:email) %>">
    <div id="add_to_list" class="btn btn-xs btn-default">Add user</div><br/>
    <%= f.text_area :is_collaborator, id: "collaborator_list" %>
  </div>
  <%= f.submit @project.new_record? ? 'Create Project' : 'Update Project', class: 'btn btn-primary' %>
<% end %>
