<%= form_for @project do |f| %>
  <div class"form-group">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>
  <div class"form-group">
    <%= f.label :description %>
    <%= f.text_area :description %>
  </div>
  <div class"form-group">
    <%= f.label :is_collaborator, 'Search Users' %>
    <input type="text" id="username_email" data-emails="<%= User.order(:email).map(&:email) %>">
    <div id="add_to_list" class="btn btn-xs btn-default">Add user</div><br/>
    <%= f.text_area :is_collaborator, id: "collaborator_list" %>
  </div>
  <%= f.submit @project.new_record? ? 'Create Project' : 'Update Project', class: 'btn btn-primary' %>
<% end %>
