<h1><%= @project.title %></h1>
<p class="lead"><%= @project.description %></p>

<div class="well">
  <h3>Latest Updates</h3>
  <% if @project.recent_activity.empty? %>
    <p class="no-activity">No recent activity here. Go ahead and get started!</p>
  <% else %>
    <ul>
      <% @project.recent_activity.each do |item| %>
        <li><%= display_recent_activity(item) %></li>
      <% end %>
    </ul>
  <% end %>

  <h3>Tasks</h3>
  <button id="task-toggle" class="btn btn-default">New Task</button>

  <div id="add-task" style="display: none">
    <%= form_for [@project, @task] do |f| %>
    <%= f.label :title %>
    <%= f.text_field :title %>
    <%= f.label :date_due %>
    <%= f.date_select :date_due, as: :date, start_year: Date.today.year,
                                end_year: Date.today.year + 10,
                                order: [:day,:month, :year] %>
    <%= f.submit 'Create Task', class: 'btn btn-sm btn-primary' %>
    <% end %>
  </div>

  <% if @project.tasks.empty? %>
    <p class="no-activity">No open tasks. Click above to create a new one!</p>
  <% else %>
    <ul>
    <% @project.tasks.each do |task| %>
      <li>
        <% if task.overdue? %>
          <span class="badge">Overdue</span>
        <% end %>
        <span class=<%= format_overdue_tasks(task) %>><%= task.title %></span>
      </li>
    <% end %>
    </ul>
  <% end %>

</div>
