<h1><%= @project.title %></h1>
<p class="lead"><%= @project.description %></p>
<div>
  <% if policy(@project).edit? %>
    <p><%= link_to 'Edit Project', edit_project_path(@project), class: 'btn btn-success' %></p>
  <% end %>
</div>
<div class="well">
  <h3>Latest Updates</h3>
  <% if @project.recent_activity.empty? %>
    <p class="no-activity">No recent activity here. Go ahead and get started!</p>
  <% else %>
    <ul>
      <% @project.recent_activity.each do |item| %>
        <li><%= display_recent_activity(item) %></li>
      <% end %>
    </ul>
  <% end %>

  <h3>Tasks</h3>
  <button id="task-toggle" class="btn btn-default">New Task</button>

  <div id="add-task">
    <%= form_for [@project, @task], remote: true do |f| %>
    <% if @task.errors.any? %>
      <h3 class="field_with_errors">
        <%= pluralize(@task.errors.count, "error") %>
        prohibited this task from being saved:
      </h3 class="field_with_errors">
      <ul class="field_with_errors">
        <% @task.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    <% end %>
    <%= f.label :title %>
    <%= f.text_field :title %>
    <%= f.label :date_due %>
    <%= f.date_select :date_due, as: :date, start_year: Date.today.year,
                                end_year: Date.today.year + 10,
                                order: [:day,:month, :year] %>
    <%= f.submit 'Create Task', class: 'btn btn-sm btn-primary' %>
    <% end %>
  </div>

  <% if @project.tasks.empty? %>
    <p class="no-activity">No open tasks. Click above to create a new one!</p>
  <% else %>
    <ul id="task-list">
      <%= render 'tasks/task' %>
    </ul>
  <% end %>

</div>
